<div class="col-md-8 col-md-offset-1">
	
				 <table class="table">
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>Address</th>
					      <th>Yelp Rating</th>
					      <th>Burger Rating</th>
					      <th>Yelp Link</th>
					    </tr>
					  </thead>

					  <tbody>
						<% @restaurants.each do |rest| %>
					
							  <tr> 
  
								<td><%= link_to rest.name, rest %></td>
								<td><%= rest.address %></td>
								<td><%= rest.yelp_rating %></td>
								<td><%= rest.avg_burger_rating %></td>
								<td><%= link_to "Link", rest.yelp_link %></td>
							  </tr>
								<% end %>
					    </tbody>
			  </table>
           <br> 		    				

       </div>
       </div>
    </div>
</div>

