 <div class="col-sm-6 col-md-7">
  	<div class="page-header">
 		<h3>Reviews</h3>

 			<div class="container"> 


  				<div class="col-sm-6 col-md-7">
    				<div class="thumb">

						<% @reviews.each do |review| %>
						
								<%= image_tag review.image, :class => 'thumb' %>
	  				</div> 

			      			<div class="caption">
								<p><strong>Rating: </strong><%= review.rating %></p>
								<p>Price: <%= review.price %></p>
								<p><%= review.review %></p>
			  						<br>
			<!--   					  <p><div class="rating_<%= review.id %>">
                         </div></p>	 -->	
							<% end %>
						
				</div>
			</div>	

	</div>
 </div>


