<div class ="col-sm-6 col-md-4">
<h4>Restaurant: <%= @restaurant.name %></h4>
<%= image_tag @review.image, height: '270', width: '370' %>

 <div class="caption">
 <p><strong>Burger Name: </strong><%= @review.burger_name %></p>
 <p><strong>Review: </strong><%= @review.review %></p>
 <p><strong>Price: </strong><%= @review.price %></p>

<p><div class="rating1" data-ratingg="<%= @review.rating %>">
      </div></p>
 </div>

 <%= link_to ("Back to " + @restaurant.name), @restaurant %>

<div class="controls">
		<%= button_to 'Edit', edit_restaurant_review_path(@restaurant, @review), :method => 'get', :class => "btn btn-primary dropdown-toggle" %>
		<%= button_to 'Delete', [@restaurant, @review], :method => 'delete', :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger dropdown-toggle" %>
	</div>	
	

</div> 

<script>
$(document).ready(function () {
  $('.rating1').each(function () {
    var rating = $(this).data('ratingg');
    $(this).raty({
          starOn: "<%= image_path('star-on.png') %>",
          starOff: "<%= image_path('star-off.png') %>",
          score: rating,
          readOnly: true
      });
  });
})

  </script>

