<!DOCTYPE html>
<html>
<head>
  <title>FindBurger</title>
      
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
   <script src="https://maps.googleapis.com/maps/api/js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
     
        <li><%= link_to 'Home', '/' %></li>
         <% if @current_user.present? %>
         <li> <%= link_to "Find Burger", restaurants_search_path %></li>
    <li>  <%= link_to "Reviews", restaurants_reviews_path %></li>
     <li> <%= link_to "Yelp Map", "https://whispering-citadel-5844.herokuapp.com/" %></li>
  <li> <%= link_to "Logout #{ @current_user.name }", sign_out_path, :method => 'delete', :data => { :confirm => 'Are you sure you wish to logout?' } %></li>
  <% end %>

      
        <li class="dropdown">
     
          <ul class="dropdown-menu">
         </ul>
        </li>
      </ul>
    


      <ul class="nav navbar-nav navbar-right">
  
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Restaurants<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'All', restaurants_all_path %></li>
            <li><%= link_to 'New  Restaurant', new_restaurant_path %></li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1686020588299563',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="container">
<%= yield %>
</div>

</body>
</html>
